@media (max-width: 409px) {
    .photo{
        max-width: 10vw;
    }
}
.photo{
   display: inline-flex;
   border: solid 2px var(--bs-secondary);
   border-radius: 5px;

   /*sizing*/
   min-width: 200px;
   max-height: 100%;

   /*margin*/
   margin-left: 1rem;
   margin-top: 0;
   margin-bottom: 1rem;

   

}

.title {
    
    width: 10rem;
    word-wrap: normal;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.cover{
    
    margin: 0;
    border-radius: 3.5px 0 0 3.5px; 
    background-color: black;
}

.card{
    width: 250px;
}