 
 .photo{
    display: inline-flex;
    border: solid 2px var(--bs-secondary);
    border-radius: 5px;
    min-width: 200px;
    max-width: 10vw;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    min-height: 100%;
}

.title {
    
    width: 10rem;
    word-wrap: normal;
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.cover{
    max-height: 63px;
    margin: 0;
    border-radius: 3.5px 0 0 3.5px; 
    background-color: black;
}

.card{
    width: 250px;
}